main {
  background-image: url(./img/prov.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  width: 100%;
  gap: 12px;
  

  grid-template-areas:
    "zone-conference zone-conference . zone-serveurs zone-securite"
    "zone-reception zone-reception . . . "
    "zone-reception zone-reception  .  zone-personnel  zone-archives ";
}

#zone-conference {
  grid-area: zone-conference;
  background-color: rgba(248, 251, 253, 0);
  width: 100%;
}

span {
  text-shadow: 2px 2px 10px white;
}

#zone-reception {
  grid-area: zone-reception;
  background-color: rgba(249, 175, 175, 0);
  width: 100%;
}

#zone-serveurs {
  grid-area: zone-serveurs;
  background-color: rgba(249, 175, 175, 0);
  width: 100%;
}

#zone-securite {
  grid-area: zone-securite;
  background-color: rgba(249, 175, 175, 0);
  width: 100%;
}

#zone-personnel {
  grid-area: zone-personnel;
  background-color: rgba(248, 251, 253, 0);
  width: 100%;
}

#zone-archives {
  grid-area: zone-archives;
  background-color: rgba(249, 175, 175, 0);
  width: 100%;
}

/* Classe pour rendre la carte plus petite dans la zone */
.small-card {
  width: 150px;
  /* Taille réduite de la carte */
  font-size: 0.875rem;
  /* Réduire la taille du texte */
  padding: 8px;
  /* Réduire le padding */
}

.small-card img {
  width: 32px;
  /* Image plus petite */
  height: 32px;
}



/* ======================================================= */

/* ======================================================= */
/* Rotation de la photo dans le background uniquement en mobile */
@media screen and (max-width: 768px) {
  main {
    transform: rotate(90deg);
    transform-origin: center center;
    width: 100vh;
    height: 100vw;
    margin-top: 1rem;
  }

  /* Applique une rotation de 90° uniquement à l'image de fond */
  main {
    background-image: url(./img/prov.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    /* Rotation uniquement pour l'image */
  }

  /* Empêcher les textes des zones de tourner */
  main .zone-label {
    transform: rotate(-90deg);
    display: inline-block;
  }
}

